<!DOCTYPE html>
<html>
<head>
    <title>Tuna Tracker</title>
</head>
<body>

<h1>Tuna Tracker</h1>

<table border="1">
    <tr>
        <th colspan="100%">Mileage</th></tb>
    </tr>
    <tr>
        <th></th>
        {% for year in stats.get_years() %}
        <th>{{year}}</th>
        {% endfor %}
        <th>Total</th>
    </tr>

    {% for type in stats.get_activity_types() %}
    <tr>
        <td>{{type}}</td>
        {% for year in stats.get_years() %}
        <td>{{stats.get_distance_by_year_type(year, type)}}</td>
        {% endfor %}
        <td><b>{{stats.get_total_distance_by_type(type)}}</b></td>
    </tr>  
    {% endfor %}

    <tr>
        <td><b>Total</b></td>
        {% for year in stats.get_years() %}
        <td><b>{{stats.get_total_distance_by_year(year)}}</b></td>
        {% endfor %}
        <td></td>
    </tr>

</table>

<br>

<table border="1">
    <tr>
        <th colspan="100%">Moving Time</th></tb>
    </tr>
    <tr>
        <th></th>
        {% for year in stats.get_years() %}
        <th>{{year}}</th>
        {% endfor %}
        <th>Total</th>
    </tr>

    {% for type in stats.get_activity_types() %}
    <tr>
        <td>{{type}}</td>
        {% for year in stats.get_years() %}
        <td>{{stats.get_moving_time_by_year_type(year, type)}}</td>
        {% endfor %}
        <td><b>{{stats.get_total_moving_time_by_type(type)}}</b></td>
    </tr>  
    {% endfor %}

    <tr>
        <td><b>Total</b></td>
        {% for year in stats.get_years() %}
        <td><b>{{stats.get_total_moving_time_by_year(year)}}</b></td>
        {% endfor %}
        <td></td>
    </tr>
</table> 

<br>

<table border="1">
    <tr>
        <th colspan="100%">Activity Count</th></tb>
    </tr>
    <tr>
        <th></th>
        {% for year in stats.get_years() %}
        <th>{{year}}</th>
        {% endfor %}
        <th>Total</th>
    </tr>

    {% for type in stats.get_activity_types() %}
    <tr>
        <td>{{type}}</td>
        {% for year in stats.get_years() %}
        <td>{{stats.get_count_by_year_type(year, type)}}</td>
        {% endfor %}
        <td><b>{{stats.get_count_by_type(type)}}</b></td>
    </tr>  
    {% endfor %}

    <tr>
        <td><b>Total</b></td>
        {% for year in stats.get_years() %}
        <td><b>{{stats.get_count_by_year(year)}}</b></td>
        {% endfor %}
        <td></td>
    </tr>
</table> 

<img src="data:image/png;base64,{{ mile_plot }}" alt="Line Graph">
<img src="data:image/png;base64,{{ moving_time_plot }}" alt="Line Graph">

<h2>Goals</h2>
<h3>Miles</h3>
<p>Goal: {{goal.target_miles}}</p>
<p>Percent Complete: {{goal.miles_percent_complete}}%</p>
<p>Miles/day to complete: {{goal.miles_per_day}}</p>
<p>Miles/week to complete: {{goal.miles_per_week}}</p>

<h3>Moving Time</h3>
<p>Goal: {{goal.target_moving_time}}</p>
<p>Percent Complete: {{goal.moving_time_percent_complete}}%</p>
<p>Moving time/day to complete: {{goal.moving_per_day}} minutes</p>
<p>Moving time/week to complete: {{goal.moving_per_week}} hours</p>

<br>

<a style="color: #FC4C02;" href="https://www.strava.com/">View on Strava</a>

<br>
<br>

<img style="width: 150px" src="/static/api_logo_pwrdBy_strava_horiz_light.png">

</body>
</html>