<!DOCTYPE html>
<html>
<head>
    <title>Tuna Tracker</title>
</head>
<body>

<h1>Tuna Tracker</h1>

<table border="1">
    <tr>
        <th colspan="100%">Mileage</th></tb>
    </tr>
    <tr>
        <th></th>
        {% for year in stats.get_years() %}
        <th>{{year}}</th>
        {% endfor %}
        <th>Total</th>
    </tr>

    {% for type in stats.get_activity_types() %}
    <tr>
        <td>{{type}}</td>
        {% for year in stats.get_years() %}
        <td>{{stats.get_distance_by_year_type(year, type)}}</td>
        {% endfor %}
        <td><b>{{stats.get_total_distance_by_type(type)}}</b></td>
    </tr>  
    {% endfor %}

    <tr>
        <td><b>Total</b></td>
        {% for year in stats.get_years() %}
        <td><b>{{stats.get_total_distance_by_year(year)}}</b></td>
        {% endfor %}
        <td></td>
    </tr>

</table>

<br>

<table border="1">
    <tr>
        <th colspan="100%">Moving Time</th></tb>
    </tr>
    <tr>
        <th></th>
        {% for year in stats.get_years() %}
        <th>{{year}}</th>
        {% endfor %}
        <th>Total</th>
    </tr>

    {% for type in stats.get_activity_types() %}
    <tr>
        <td>{{type}}</td>
        {% for year in stats.get_years() %}
        <td>{{stats.get_moving_time_by_year_type(year, type)}}</td>
        {% endfor %}
        <td><b>{{stats.get_total_moving_time_by_type(type)}}</b></td>
    </tr>  
    {% endfor %}

    <tr>
        <td><b>Total</b></td>
        {% for year in stats.get_years() %}
        <td><b>{{stats.get_total_moving_time_by_year(year)}}</b></td>
        {% endfor %}
        <td></td>
    </tr>
</table> 

<br>

<table border="1">
    <tr>
        <th colspan="100%">Activity Count</th></tb>
    </tr>
    <tr>
        <th></th>
        {% for year in stats.get_years() %}
        <th>{{year}}</th>
        {% endfor %}
        <th>Total</th>
    </tr>

    {% for type in stats.get_activity_types() %}
    <tr>
        <td>{{type}}</td>
        {% for year in stats.get_years() %}
        <td>{{stats.get_count_by_year_type(year, type)}}</td>
        {% endfor %}
        <td><b>{{stats.get_count_by_type(type)}}</b></td>
    </tr>  
    {% endfor %}

    <tr>
        <td><b>Total</b></td>
        {% for year in stats.get_years() %}
        <td><b>{{stats.get_count_by_year(year)}}</b></td>
        {% endfor %}
        <td></td>
    </tr>
</table> 

</body>
</html>